<footer class="footer">
	<small>
		The <a href="https://rubyonrails.org/">Ruby on Rails App</a>
		by <a href="https://www.pawelsmusz.com">Paweł Smusz</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="https://rubyonrails.org/">News</a></li>
		</ul>
	</nav>
</footer>